* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

ul, .container {
  display: flex;
  list-style-type: none;
  height: 300px;
  padding: 0px;

  flex-direction: row;
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap-reverse; */

  border: 3px solid red;

  justify-content: start;

  justify-content: space-evenly;
  align-items: flex-start;
}